footer {
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #c28866;
    color: #4d3325;
    text-align: right;
    font-size: 1em;
}